@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
  }
}
.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,
.top-nav-collapse{background-color:#1C2331}
@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}



/* scroll search */
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 250px 250px;
  color: black;
  text-align: center;
  font-size: 1.2em; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  background-image: url("/images/wine4.jpg");
}

.header-scrolled {
  background-color: red;
  padding: 5px 5px;
  color: black;
  text-align: center;
  font-size: 0.7em; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  background-image: url("/images/wine4.jpg");
}

.header-scrolled button {
  width: 3%;
}

.content {
  margin-top: 200px;
}

.card {
  position: static;
}


/* transparent inputs */
h1 {color: white;}
input,button {
  background: rgba(255,255,255,0.4);
  border: none;
  outline: none;
  height: 30p;
  top: 250px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
}

.search-wine {
  width: 550px;
}

.search-country {
  width: 150px;
}

button {
  width: 50px;
}